<li>
  <a href="<%- url_for("/about/index.html") %>" class="nav-link team<%- page.path.match(/best-practices\.html/) ? ' current' : '' %>">About</a>
</li>
<li>
  <a href="<%- url_for("/process/index.html") %>" class="nav-link<%- page.path.match(/process\.html/)  ? ' current' : '' %>">Process</a>
</li>
<li>
  <a href="<%- url_for("/best-practices/index.html") %>" class="nav-link team<%- page.path.match(/best-practices\.html/) ? ' current' : '' %>">Best Practices</a>
</li>