<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" width="215" height="215" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2>The Lead Agency</h2>
      <h1>
        Development Team <br/> Handbook
      </h1>
      <p>
        <a class="button white" href="<%- url_for("/process/index.html") %>">GET STARTED</a>
        <a class="button gray has-icon" href="https://github.com/theleadagency/engagement-team-handbook" target="_blank">
          <%- partial('icons/github-dark') %>
          GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <a href="<%- url_for("/process/index.html") %>"><h2>Process</h2></a>
      <p>Our processes documented, shared and improved across the team, using team approved PRs to update.</p>
    </div>

    <div class="point">
        <a href="<%- url_for("/best-practices/index.html") %>"><h2>Best Practices</h2></a>
      <p>One stop places for the best practices was have adopted for the technologies we frequently use.</p>
    </div>

    <div class="point">
        <a href="<%- url_for("/about/index.html") %>"><h2>The Teams</h2></a>
      <p>
      Find out more about our development teams and how we work. <br/>
      <a href="https://www.theleadagency.com/careers/">Work with us</a>.
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <p>
    <a class="social-icon" href="https://github.com/theleadagency" target="_blank">
      <%- partial('icons/github') %>
    </a>
    <a class="social-icon" href="https://twitter.com/theleadagencyuk" target="_blank">
      <%- partial('icons/twitter') %>
    </a>
  </p>
  <p>
    Liverpool, London, New York
  </p>
  Copyright &copy; <%- new Date().getFullYear() %> <a href="https://www.theleadagency.com">The Lead Agency</a></p>
</div>

<script>
(function () {
  var topScrolled = false

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
  })
})()
</script>
