<% var isIndex = page.path === 'index.html' %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%- page.title ? page.title + ' - ' : '' %>TLA Dev Handbook</title>
    <meta name="description" content="<%- config.description %>">

    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- page.title ? page.title + ' - ' : '' %>TLA Dev Handbook">
    <meta property="og:description" content="<%- config.description %>">
    <meta property="og:image" content="https://<%- config.url %>/images/logo.png") %>">

    <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("/images/icons/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("/images/icons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("/images/icons/favicon-16x16.png") %>">
    <link rel="manifest" href="<%- url_for("/site.webmanifest") %>">
    <link rel="mask-icon" href="<%- url_for("/images/icon/safari-pinned-tab.svg") %>" color="#ee1c3a">
    <meta name="apple-mobile-web-app-title" content="TLA Dev Handbook">
    <meta name="application-name" content="TLA Dev Handbook">
    <meta name="msapplication-TileColor" content="#ee1c3a">
    <meta name="theme-color" content="#ffffff">

    <!-- main page styles -->
    <%- css(isIndex ? 'css/index' : 'css/page') %>

    <!-- this needs to be loaded before guide's inline scripts -->
    <script>window.PAGE_TYPE = "<%- page.type %>"</script>

  </head>
  <body class="<%- isIndex ? '' : 'docs' -%>">
    <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
      <a class="menu-button"></a>
      <a class="logo" href="<%- url_for("/") %>"></a>
    </div>
    <%- partial('partials/header') %>
    <% if (!isIndex) { %>
      <div id="main" class="fix-sidebar">
        <% if (page.blog_index) { %>
          <%- partial('partials/blog') %>
        <% } else { %>
          <%- body %>
        <% } %>
      </div>
      <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>
    <% } else { %>
      <%- body %>
    <% } %>

    <!-- main custom script for sidebars, version selects etc. -->
    <script src="<%- url_for("/js/css.escape.js") %>"></script>
    <script src="<%- url_for("/js/common.js") %>"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/regular.css" integrity="sha384-EWu6DiBz01XlR6XGsVuabDMbDN6RT8cwNoY+3tIH+6pUCfaNldJYJQfQlbEIWLyA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">
  </body>
</html>